{% extends 'base.html.twig' %}
{% block body %}
<div class="container mt-5">
    <a href="{{ path('app_product_list') }}" class="gray-link my-3">Volver</a>
    <h1  class="text-center mb-4">Editar Producto</h1>

    <!-- Mensajes Flash -->
    {% for label, messages in app.flashes %}
        <div class="alert alert-{{ label }} mt-3">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endfor %}

    <!-- Formulario -->
    {{ form_start(form, { 'attr': { 'data-turbo': 'false' } }) }}
        
        <!-- Nombre del producto -->
        <div class="mb-3">
            {{ form_label(form.name) }}
            {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
            <div class="text-danger">{{ form_errors(form.name) }}</div>
        </div>

        <!-- descripcion producto -->
        <div class="mb-3">
            {{ form_label(form.description) }}
            {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
            <div class="text-danger">{{ form_errors(form.description) }}</div>
        </div>

        <!-- precio del producto -->
        <div class="mb-3">
            {{ form_label(form.price) }}
            {{ form_widget(form.price, {'attr': {'class': 'form-control'}}) }}
            <div class="text-danger">{{ form_errors(form.price) }}</div>
        </div>

        <!-- stock producto -->
        <div class="mb-3">
            {{ form_label(form.stock) }}
            {{ form_widget(form.stock, {'attr': {'class': 'form-control'}}) }}
            <div class="text-danger">{{ form_errors(form.stock) }}</div>
        </div>

    {{ form_end(form) }}
</div>
{% endblock %}
