{% extends 'base.html.twig' %}

{% block title %}Edit Product{% endblock %}

{% block body %}
<a href="{{ path('app_product_list') }}" class="btn btn-secondary">Back to Product List</a>
<h1>Edit Product</h1>

{{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.description) }}
    {{ form_row(form.price) }}
    {{ form_row(form.stock) }}
{{ form_end(form) }}

{% endblock %}
